*{
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(10px, 1vw, 14px);
    font-weight: bold;
    color: #231f20;
}

a{
    text-decoration: none;
    color: #231f20;
    font-weight: bold;
}

a:hover{
    cursor: pointer;
}

/* Utility */

.hidden{
    display: none;
}

.bigger-text{
    font-size: clamp(16px, 1vw, 1.2rem);
}

.no-bold{
    font-weight: 100;
}

.zoom {
    transition: transform .2s;
}
  
.zoom:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Icons */

.icon{
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-find{
    background-image: url(../assets/icon-find.png);
}

.icon-cart{
    background-image: url(../assets/icon-cart-2.png);
}

.icon-exit{
    background-image: url(../assets/icon-exit-3.png);
}

.icon-recurrent{
    background-image: url(../assets/icon-recurrent.png);
}

.icon-savings{
    background-image: url(../assets/icon-savings.png);
}

.icon-plus{
    background-image: url(../assets/icon-plus.png);
}

/* Box Images */

.box-addition-1{
    background-image: url(../assets/product-1/addition-1.png);
}

.box-addition-2{
    background-image: url(../assets/product-1/addition-3.png);
}

.box-addition-3{
    background-image: url(../assets/product-1/addition-4.png);
}

/* Header */

header{
    text-align: center;
    position: relative;
}

.shop-nav-wrapper{
    position: absolute;
    width: 100%;
    padding-top: 10px;
}

.free-shipping{
    color: #fff;
    background-color: #231f20;
    padding: 10px 20px;
    
}

.shop-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
}

.shop-nav img{
    width: 12%;
    height: auto;
}

.shop-nav nav{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: flex-end;
}

.shop-nav nav a{
    margin: 0 0 0 30px;
}

/* Aside */

.separator{
    display: flex;
    height: calc(100% - 37px);
}

aside{
    background-color: #f8f5f2;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
}

.aside-inner-wrapper{
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.logo-wrapper{
    margin-bottom: 20%;
}

.logo-wrapper img{
    width: 90%;
    height: auto;
}

aside nav{
    display: flex;
    flex-direction: column;
}

aside nav a{
    font-size: clamp(6px, 1vw, 14px);
    padding-bottom: 3px;
    margin-bottom: 5%;
}

aside nav a:hover{
    background: rgb(232,224,216);
    background: linear-gradient(0deg, rgba(232,224,216,1) 50%, rgba(248,245,242,1) 50%);
}


.selected{
    background: rgb(232,224,216);
    background: linear-gradient(0deg, rgba(232,224,216,1) 50%, rgba(248,245,242,1) 50%);
}

/* Section */

section{
    width: calc(100% - 15%);
    display: flex;
    align-items: center;
}

.section-inner-wrapper{
    height: 80%;
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.section-inner-wrapper h1{
    display: flex;
    flex-direction: column;
    font-size: clamp(20px, 3vw, 200px);
}

.main{
    display: flex;
    height: calc(100% - 30%);
}

/* Section Your Orders */

.image-wrapper{
    width: 20%;
    height: 80%;
    background-image: url(../assets/product-1/product.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f8f5f2;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 80%;
    padding-left: 3%;
}

.your-orders .section-inner-wrapper{
    justify-content: space-around;
}

.order-settings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.settings a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.settings a:hover{
    text-decoration: underline #000;
}

.other-products{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 10px;
}

.box{
    height: clamp(50px, 5vw, 100px);
    width: clamp(50px, 5vw, 100px);
    margin-right: 4%;
    background-color: #f8f5f2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.more-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section Order Details */

.order-details-header{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: fit-content;
}

.cancelled div{
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 1vw, 35px);
}

.order-details{
    margin-top: 35px;
    width: calc(100%- 25%);
}

.cancelled{
    align-self: flex-end;
    margin-right: 2.5%;
}

.billing-shipping{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin-top: 5%;
}

.billing-shipping-wrapper{
    height: 100%;
    width: 60%;
    display: none;
}

.order-details .main{
    display: block;
    justify-content: space-around;
    width: 70%;
    line-height: clamp(15px, 3vw, 30px);
}

.billing-shipping .bigger-text{
    width: clamp(200px, 1vw, 400px);
    font-size: clamp(12px, 1vw, 1.2rem);
}

/* Section Reward */

.reward-status .main{
    flex-direction: column;
    margin-top: 5%;
}

.activity, .benefits{
    display: flex;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 70%;
}

.status div{
    margin: 0 0 50% 0;
    width: 200%;
}

.info-wrapper, .benefits-icons{
    display: flex;
}

.info-wrapper{
    justify-content: space-between;
}

.left{
    width: 10%;
    padding-right: 5%;
}

.benefits-icons .icon{
    height: clamp(40px, 5vw, 70px);
    width: clamp(40px, 5vw, 70px);
    margin-right: clamp(10px, 3vw, 100px);
}

/* Section Account Settings */

.user-details{
    display: flex;
}

.user-details .left-input, .user-details .right-input{
    display: flex;
    flex-direction: column;
    margin: 1% 5% 0 0;
    width: 25%;
}

.user-details input{
    margin-bottom: 10%;
    border: 1px solid #f8f5f2;
    height: clamp(20px, 3vw, 45px);
    padding-left: clamp(0px, 1vw, 15px);
    font-weight: bold;
}

.account-settings .main{
    flex-direction: column;
}

.user-details button{
    width: 100%;
    border: none;
    height: clamp(22px, 3vw, 47px);
    background-color: #231f20;
    color: #fff;
    font-size: clamp(10px, 1vw, 18px);
}

.user-details button:hover{
    cursor: pointer;
}

.main-form, .account-addresses{
    margin-top: clamp(10px, 3vw, 100px);
}

.user-addres{
    display: flex;
    margin-top: 1%;
}

.user-addres div{
    width: 23%;
    padding: 2% 0 1% 2%;
    line-height: clamp(10px, 2vw, 30px);
    color: #fff;
    background-color: #231f20;
    border-radius: clamp(10px, 1vw, 25px);
    margin-right: 5%;
    font-size: clamp(5px, 1vw, 14px);
}

/* Section Payment */

.credit-cards{
    display: flex;
    height: fit-content;
    width: 45%;
}

.credit-card{
    margin: 5% 5% 0 0;
}

.credit-cards img{
    width: 100%;
    height: auto;
}

.new-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    background-color: #f8f5f2;
    border-radius: clamp(3px, 1vw, 15px);
}

.left-cards, .right-cards{
    width: 100%;
}

.new-card .icon{
    height: clamp(20px, 2.5vw, 40px);
    width: clamp(20px, 2.5vw, 40px);
    margin-bottom: 10px;
}